Source: librl
Priority: extra
Maintainer: Andre Gaschler <gaschler@cs.tum.edu>
Build-Depends: debhelper (>= 7.0.50~), 
 cmake (>=2.8.11), quilt, doxygen, graphviz, 
 libxml2-dev (>=2.7), libboost-all-dev (>=1.46), libsimage-dev, 
 libsoqt4-dev, libqt4-dev, libqt4-opengl-dev,
 libbullet-dev, libcoin60-dev | libcoin80-dev,
 libode-sp-dev (>=2:0.11), libcgal-dev (>=4.0),
 libeigen3-dev, libsolid-dev (>=3.5.6),
 libdc1394-22-dev (>=2.1), libcomedi-dev
Standards-Version: 3.9.1
Section: libs
Homepage: http://www.roboticslibrary.org/


Package: librl-dev
Section: libdevel
Architecture: any
Depends: librl (= ${binary:Version}),
 libxml2-dev (>=2.7), libboost-all-dev (>=1.46), libsimage-dev, 
 libsoqt4-dev, libqt4-dev, libqt4-opengl-dev,
 libbullet-dev, libcoin60-dev | libcoin80-dev,
 libode-sp-dev (>=2:0.11), libcgal-dev (>=4.0),
 libeigen3-dev, libsolid-dev (>=3.5.6),
 libdc1394-22-dev (>=2.1), libcomedi-dev
Description: Development files for the Robotics Library RL
 This package includes all development files for
 the Robotics Library RL, which is an open source software 
 library for various robotics tasks. 
 It covers mathematics, kinematics, dynamics, hardware abstraction, 
 visualization, collision detection and motion planning. 
 .
 The main author is Markus Rickert at fortiss An-Institut
 Technische Universität München.
 .
 In contrast to other robotics frameworks, it is 
 a self-contained library with a focus on robot motion planning.

Package: librl
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Robotics Library RL
 The Robotics Library RL is an open source software 
 library for various robotics tasks. 
 It covers mathematics, kinematics, dynamics, hardware abstraction, 
 visualization, collision detection and motion planning. 
 .
 The main author is Markus Rickert at fortiss An-Institut
 Technische Universität München.
 .
 In contrast to other robotics frameworks, it is 
 a self-contained library with a focus on robot motion planning.




