#!/usr/bin/make -f

export DH_VERBOSE=1
export DEB_BUILD_OPTIONS=parallel=4

CMAKE_FLAGS = \
  -DCMAKE_BUILD_TYPE=Release \
  -DCMAKE_VERBOSE_MAKEFILE=ON

override_dh_auto_configure:
	dh_auto_configure -- $(CMAKE_FLAGS)

override_dh_auto_test:
	dh_auto_test -- ARGS+=-V

%:
	dh $@ --buildsystem=cmake --parallel

